*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'MS Sans Serif';
    letter-spacing: 0.001em;
    font-size: 14px;
    font-smooth: none;
}

strong{
    font-weight: bold;
}

@keyframes loading { 
    0%{background-position:0% 51%}
    100%{background-position:-200% 51%}
}

#desktop{
    background: teal;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c0c0c0;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #fff;
}

.toolbar-start-menu .start-button {
    background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center / 24px;
    padding-left: 28px;
    padding-right: 5px;
    height: 29px;
    margin: 2px 3px;
    font-weight: bold;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
}

.start-button:hover {
    background-color: #a0a0a0; /* Darkened version of #c0c0c0 */
}

.start-menu-wrapper {
    display: none;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
    position: fixed;
    left: 2px;
    bottom: 33px;
    width: 190px;
    min-height: 200px;
}

.toolbar-right {
    margin: 2px 3px;
    height: 29px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

.toolbar-right .time {
    padding: 6px 10px;
}

.desktop-icons .desktop-icon {
    width: 115px;
    height: 100px;
    color: #fff;
    text-align: center;
    background: no-repeat center top;
    padding-top: 55px;
    margin: 10px;
}


.desktop-icon:hover {
    background-color: #0000FF;
    color: #FFFFFF;
  }

.desktop-icons .desktop-icon.pixlbuilder {
    background-image: url(https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png);
}

.desktop-icons .desktop-icon.documents {
    background-image: url(https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs-4.png);
}

.window{
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-bottom-color: #131313;
    border-left-color: #fff;
    background: #c0c0c0;
    width: 90%;
    max-width: 500px;
    position: fixed;
    resize: both;
}

.window-toolbar{
    background: #f5550b;
    color: #fff;
    padding: 4px;
    font-weight: bold;
}

.window-buttons{
    position: absolute;
    right: 2px;
    top: 2px;
}

.window-button{
    background: no-repeat center #ccc;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    height: 17px;
    width: 17px;
    float: right;
    margin-left: 2px;
}

.window-button.close{
    background-image: url(https://win98icons.alexmeub.com/images/close-icon.png);
}

.window-button.help{
    background-image: url(https://win98icons.alexmeub.com/images/question-icon.png);
}

.centered-image-wrapper {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 0 auto;
}

.centered-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window-tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs-button {
    flex-grow: 1;
    border-width: 1px;
    border-style: solid;
    border-color: #000 #000 #c0c0c0;
    padding: 2px 4px;
    text-align: center;
    background: #c0c0c0;
    margin-right: -1px;
}

.tabs-button:first-child {
    margin-left: -1px;
}

.tabs-button.active {
    border-color: #c0c0c0 #000 #000;
    background: #e0e0e0;
}

.tab-content.active {
    border: 1px solid #7c7c7c;
    padding: 10px;
    background-color: #c0c0c0;
}


.window-content {
    height: 390px; /* Set your desired height */
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 20px; /* Adjust the bottom padding as needed */
  }
  
  .window-tabs {
    height: 50px; /* Set your desired height */
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 10px;
    padding-bottom: 10px; /* Adjust the bottom padding as needed */
  }

  .window-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

fieldset{
    border: 1px solid #7c7c7c;
    padding: 10px;
    position: relative;
}



legend{
    padding: 0 3px;
    background: #c0c0c0;
}

select{
    width: 100%;
    margin: 15px 0;
}

option{
    background: url(https://win98icons.alexmeub.com/icons/png/paint_file-1.png) no-repeat 2px 2px;
    background-size: auto 14px;
    padding: 2px 3px 0 18px;
    vertical-align: middle;
}

option:first-child{
    background-image: url(https://win98icons.alexmeub.com/icons/png/no2-1.png);
}

p::first-letter{
    text-decoration: underline;
}

.window-actions{
    margin-top: 10px;
    overflow: hidden;
}

.window-action-button{
    border: 1px solid #131313;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
    width: 75px;
    text-align: center;
    padding: 5px 0;
    float: right;
    margin-left: 5px;
}

.category-option {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.category-option img {
    width: 100%;
    height: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-gap: 10px; /* adjust as needed */
    max-height: 300px;
    overflow-y: auto;
}

.image-grid img {
    width: 50px;
    height: 50px;
}

.grid-image.selected {
    border: 2px solid rgb(255, 102, 0); /* or any other style you prefer */
}

.tab-image-container {
    position: relative;
    display: inline-block;
  }
  
  .tab-image-container::after {
    content: "X";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    pointer-events: none; /* This ensures the pseudo-element doesn't block the image from being selectable */
  }

  #iframe-container {
    display: none; /* Set the initial display to none */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
  }
  
  #compiled-code-iframe {
    display: block;
    visibility: visible; /* Set the visibility to visible */
    background-color: #fff; /* Set a background color if needed */
  }

  .custom-close-button {
    width: 5px !important;
    height: 20px !important;
    padding: 0 !important;
}

#doc-window {
    display: none;
}
